@{
	ViewData["Title"] = "Contact";
	ViewData["Message"] = "You can contact us:";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	123 Sherbrook<br />
    Montreal, QC<br />
    <abbr title="Phone">P:</abbr>
    (514) 111-1111
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@Almajdoob.com">Support@Almajdoob.com</a><br />
</address>
